<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载classpath:db.properties下的配置-->
    <context:property-placeholder location="classpath:db.properties" file-encoding="UTF-8"/>

    <!--配置一个数据源:  使用c3p0的连接池的数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--数据库四大参数-->
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!--连接池相关的参数-->
        <property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>  <!--初始化连接数-->
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>   <!--最大连接数-->
        <property name="minPoolSize" value="${jdbc.minPoolSize}"/>  <!--最少连接数-->
        <property name="acquireIncrement" value="${jdbc.acquireIncrement}"/>  <!--增量-->
    </bean>

    <!--SqlSessionFactoryBean-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath*:mapper/*Mapper.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.zl.easybuy.pojo, com.zl.easybuy.bo"/>
    </bean>

    <!-- Mapper扫描器:  扫描Mapper接口,使用动态代理模式, 动态生成接口的实现类, 把实现类对象交给spring管理-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--扫描mapper接口所在的包-->
        <property name="basePackage" value="com.zl.easybuy.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
    </bean>
</beans>