<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zl.easybuy.mapper.ProductMapper">
    <select id="queryByPages" parameterType="ProductBO" resultType="Product">
        select * from easybuy_product
        <if test="productBO != null">
            <where>
                <if test="productBO.product != null">
                    <if test="productBO.product.id != null">
                        and id = #{productBO.product.id}
                    </if>
                    <if test="productBO.product.name != null and productBO.product.name!=''">
                        and name like '%${productBO.product.name}%'
                    </if>
                    <if test="productBO.product.categoryLevel1Id !=null">
                        and categoryLevel1Id = #{productBO.product.categoryLevel1Id}
                    </if>
                    <if test="productBO.product.categoryLevel2Id !=null">
                        and categoryLevel2Id = #{productBO.product.categoryLevel2Id}
                    </if>
                    <if test="productBO.product.categoryLevel3Id !=null">
                        and categoryLevel3Id = #{productBO.product.categoryLevel3Id}
                    </if>
                </if>
            </where>
            <if test="productBO.isPage">
                limit #{productBO.startIndex} , #{productBO.pageSize}
            </if>
        </if>
    </select>
</mapper>